<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>原神所持星4・5武器一覧</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h2>武器の詳細</h2>
    <table>
        <tr>
            <th>武器ID</th>
            <th>武器名</th>
            <th>武器タイプ</th>
            <th>レアリティ</th>
        </tr>
        <% for( let row of data ) { %>
            <tr>
                <td>
                    <%= row.weapon_id %>
                </td>

                <td>
                    <a href="/weapon/<%= row.weapon_id %>">
                        <%= row.weapon_name %>
                </td>

                <td>
                    <%= row.weapon_type %>
                </td>

                <td>
                    <%= row.rank_level %>
                </td>
            </tr>
            <% } %>
    </table>
</body>
<a href="/weapon/create">追加</a>

</html>